.contact .heading h1 {
  @apply py-2 pl-14 text-secondary-300 leading-5 text-xl md:text-3xl lg:text-5xl;
}
.contact .paragraph p {
  @apply pl-14 py-1 text-justify text-primary-50 text-base md:text-lg;
}

.contact .paragraph p > a {
  @apply text-secondary-200;
}
.contact label {
  @apply mb-2 text-primary-50 text-lg;
}

.contact .form .customInput {
  @apply bg-primary-700 h-10;
}

.contact .heading::after,
.contact .heading::before,
.contact .paragraph::after,
.contact .paragraph::before,
.contact .form::after,
.contact .form::before {
  font-size: 16px;
  font-style: italic;
  opacity: 0.2;
  color: white;
}

.contact .heading::before {
  content: "<h2>";
  padding-left: 32px;
}
.contact .heading::after {
  content: "</h2>";
  padding-left: 32px;
}

.contact .paragraph::before {
  content: "<p>";
  padding-left: 32px;
}
.contact .paragraph::after {
  content: "</p>";
  padding-left: 32px;
}

.contact .form::before {
  content: "<form>";
  padding-left: 32px;
}
.contact .form::after {
  content: "</form>";
  padding-left: 32px;
}
