.input {
  width: 100%;
  height: 100%;
  border: 1px solid silver;
  position: relative;
  background-color: inherit;
}
.err {
  border: 1px solid red;
}
.input label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  background-color: inherit;
  z-index: 0;
  font-size: 16px;
}
/* .input:focus-within label {
  top: 0px;
} */

.input input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  z-index: 11111;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.674);
}
.input textarea:focus,
.input input:focus {
  outline: none;
}

.input textarea {
  width: 100%;
  height: 90px;
  padding: 16px 8px;
  border: none;
}
