.search::after {
  content: "";
  height: 2px;
  width: 0;
  display: block;
  transition: width 0.1s linear;
  @apply bg-primary-100 rounded-sm;
}

.search:focus-within::after {
  width: 100%;
}
.search:focus-within .search {
  /* opacity: 0.5; */
}

.search input {
  color: inherit;
  @apply px-2 w-full h-full bg-inherit focus:outline-none focus:border-b-0 border-primary-400;
}

.search input::placeholder {
  @apply text-primary-700;
}
